@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

@theme{
    --font-Oswald:  "Oswald", sans-serif;
}

.hero-bg {
  background-image: url('../Assets/sm-bg-section-1.png');
}

@media (min-width: 640px) {
  .hero-bg {
    background-image: url('../Assets/section-1-1.png');
  }
}
